[submodule "pyOSC-lib"]
	path = pyOSC-lib
	url = https://github.com/UmSenhorQualquer/pyOSC.git
[submodule "pyforms-lib"]
	path = pyforms-lib
	url = https://github.com/UmSenhorQualquer/pyforms.git
[submodule "pysettings-lib"]
	path = pysettings-lib
	url = https://github.com/UmSenhorQualquer/pysettings.git
[submodule "py3dengine-lib"]
	path = py3dengine-lib
	url = https://github.com/UmSenhorQualquer/py3dengine.git
[submodule "logging-bootstrap-lib"]
	path = logging-bootstrap-lib
	url = https://UmSenhorQualquer@bitbucket.org/fchampalimaud/logging-bootstrap.git
