[submodule "lib-py3dengine"]
	path = lib-py3dengine
	url = https://github.com/UmSenhorQualquer/py3dengine.git
[submodule "lib-pyOSC"]
	path = lib-pyOSC
	url = https://github.com/UmSenhorQualquer/pyOSC.git
[submodule "lib-pyforms"]
	path = lib-pyforms
	url = https://github.com/UmSenhorQualquer/pyforms.git